.card {
    padding-left: 120px;
}

.container {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    justify-content: flex-end; /* Vertically center to the bottom */
    align-items: center; /* Horizontally center */
    height: 100%; /* Ensure the container takes full height */
  }
  
  .mat-table {
    width: 100%;
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto;
  }